.btn {
  display: block;
  width: 100%;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40x;
  padding: 4px;
  font-size: 20px;
  transition: 0.3s;
  color: $white;
  &:hover {
    color: $white;
  }
  &-default {
    font-weight: bold;
    background-color: #facf4cf7;
    border-color: #e8c048f7;
    box-shadow: 0 6px #e5c564f7;
    &:hover {
      box-shadow: 0 1px #facf4cf7;
    }
  }
  &-moderate {
    font-weight: bold;
    background-color: #9e9e9e;
    border-color: #979595;
    box-shadow: 0 6px #8b8888;
    &:hover {
      box-shadow: 0 1px #9e9e9e;
    }
  }
  &-edit {
    background-color: #26a69a;
    border-color: #26a69a;
    &:hover {
      background-color: #209287;
    }
  }
}
