@include mq-down(md) {
  .c-menu-button {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 40px;
    height: 40px;
    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $white;
      border-radius: 4px;
      transition: all 0.6s;
      &:nth-of-type(1) {
        top: 11px;
      }
      &:nth-of-type(2) {
        top: 22px;
      }
      &:nth-of-type(3) {
        bottom: 3px;
      }
    }
  }
  .active span {
    &:nth-of-type(1) {
      -webkit-transform: translateY(11px) rotate(-45deg);
      transform: translateY(11px) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      -webkit-transform: translateY(-11px) rotate(45deg);
      transform: translateY(-11px) rotate(45deg);
    }
  }
}
