.c-top-nav {
  &__list {
    display: flex;
    justify-content: space-between;
    line-height: $headerHeight;
    a {
      display: block;
      width: 100px;
      font-weight: bold;
      text-align: center;
      &:hover {
        background: $white;
        color: $skyBlue;
        transition: all 0.5s;
      }
    }
  }

  @include mq-down("md") {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    background: $sp-menuBgColor;
    overflow: scroll;
    height: 100vh;
    z-index: 10;
    &__list {
      display: block;
      a {
        width: unset;
      }
    }
  }
}
