// html,
// body {
//   height: 100%;
// }
body {
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "M PLUS Rounded 1c";
}
body,
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a {
  color: #fff;
}
a:hover {
  color: #fff;
}
h1,
h2,
p {
  line-height: 30px;
  margin: 0;
}
p {
  @include mq-down(sm) {
    font-size: 14px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
