.btn {
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32x;
  padding: 8px;
  transition: 0.3s;
  &-primary {
    color: #fff;
    background-color: #007bff;
    box-shadow: 0 6px #005bbb;
  }
  &-large {
    width: 100%;
  }
  &:hover {
    box-shadow: 0 1px #005bbb;
    background: #007bff;
  }
}
