.title-border {
  display: flex;
  align-items: center;
  color: #888;
  font-size: 20px;
  &:before,
  &:after {
    border-top: 1px solid #888;
    content: "";
    flex-grow: 1;
  }
  &:before {
    margin-right: 1rem;
  }
  &:after {
    margin-left: 1rem;
  }
}
