.l-form {
  padding: 32px 0;
  @include mq-down(sm) {
    // height: 100%;
    padding: 0;
  }
}
.form {
  padding: 32px 48px 24px 48px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8x;
  background-color: #7ad3fc;
  width: 64%;
  margin: 0 auto;
  @include mq-down() {
    width: 80%;
  }
  @include mq-down(sm) {
    width: 100%;
    height: 100%;
    border-radius: initial;
    -webkit-border-radius: initial;
    -moz-border-radius: initial;
  }
  &-heading {
    text-align: center;
    margin: 24px 0;
    h1 {
      color: #ffffff;
      font-size: 24px;
      margin-bottom: 24px;
    }
    p {
      color: #ffffff;
      font-weight: bold;
    }
  }
  &-group {
    margin-bottom: 24px;
    .error_msg {
      padding-left: 24px;
      color: #e3342f;
    }
    .attention {
      margin: 0 4px;
      padding: 2px 8px;
      background: #f97b71;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      color: #fff;
    }
    label {
      font-weight: bold;
    }
  }
  &-control {
    height: 48px;
    border-radius: 40px;
    padding: 0 24px;
    background-color: #ffffffc7;
  }
  .update-date {
    text-align: right;
    margin: 12px 0;
  }
  &-message_list {
    text-align: center;
    margin: 24px 0;
  }
  &-check {
    margin-bottom: 16px;
    label {
      cursor: pointer;
    }
  }
  &-back_message {
    display: block;
    font-size: 22px;
    color: #fff;
    margin: 32px 0;
    text-align: right;
  }
  &-image-area {
    position: relative;
    i {
      position: absolute;
      top: 55px;
      left: 80px;
    }
    input {
      opacity: 0;
      width: 50%;
      height: 130px;
      position: relative;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
  &-image {
    width: 50%;
    height: 130px;
    position: absolute;
    top: 31px;
    left: 0;
    object-fit: cover;
    background-color: #ffffffc7;
    border-radius: 16px;
  }
}
