#question {
  h1 {
    background: #ffc6e2;
    padding: 24px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-size: 24px;
    @include mq-down(md) {
      font-size: 19px;
    }
  }
  .img-wrap {
    margin: 16px auto;
    width: 320px;
    height: 240px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    overflow: hidden;
    @include mq-down(sm) {
      width: 270px;
      height: 190px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
#answer-choices {
  li {
    font-size: 20px;
    margin: 16px 0;
    padding: 16px 24px;
    background: #eaeaea;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    @include mq-down(md2) {
      font-size: 16px;
    }
  }
}
.alert_msg {
  font-size: 20px;
  text-align: center;
  margin: 160px auto;
  @include mq-down(sm) {
    font-size: 15px;
  }
  a {
    color: #aaa;
    position: relative;
    top: 32px;
  }
}
/* -------------------
	explain
---------------------*/
#explain {
  border: 4px solid #ccc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-top: 32px;
  padding: 16px;
  h2 {
    text-align: center;
    margin-bottom: 16px;
    font-weight: bold;
  }
  .correct {
    color: #e91e63;
  }
  .uncorrect {
    color: #1e88e5;
  }
  p {
    @include mq-up(sm) {
      font-size: 20px;
    }
  }
  button {
    width: 56%;
    height: 56px;
    margin: 16px auto 0 auto;
    @include mq-down(sm) {
      width: 50%;
      height: 44px;
    }
  }
}
/* -------------------
	result
---------------------*/
#result {
  border: 1px solid #ccc;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  padding: 40px 0;
  width: 72%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 160px;
  left: 14%;
  background: #deebfb;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  animation: SlideDown 1.5s;
  h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  p {
    font-size: 24px;
    margin-bottom: 24px;
  }
  @include mq-down(sm) {
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 22px;
    }
  }
  button {
    margin-top: 24px;
    height: 56px;
  }
}
@media screen and (max-width: 600px) {
  #result {
    width: 88%;
    left: 6%;
  }
}
