.l-footer {
  margin-top: auto;
  bottom: 0;
  height: 40px;
  font-size: 14px;
  width: 100%;
  padding: 8px;
  text-align: center;
  color: $white;
  background: $black;
  @include mq-down("sm") {
    height: 32px;
    font-size: 12px;
  }
  a:hover {
    text-decoration: underline;
  }
}
